html,body, #capa{
	height: 100%;
}
body{
	background: #dcdcdc;
}
.demo-navegacao{
	background: rgb(25,24,47); /*Hex: #19182fff*/
	padding: 10px 0px 10px 0px;
	/*height: 100px;*/
}
.logo{
	display: block;
	width: 200px;
	height: 56px;
	background: url("../imagens/logo.png") no-repeat;
}
#capa{
	background: url("../imagens/sala-competicao.jpg") center / cover no-repeat;
	display: table;
	width: 100%;
	background-attachment: fixed;
}
#texto-capa{
	background: rgba(255,255,255,.4);
	color: #FFF;
	/*text-transform: uppercase;*/
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}
#texto-capa{
	display: table-cell;
	vertical-align: middle;
}
#texto-capa h1{
	text-align: center;
	padding: 10px;
}
#time{
	padding: 20px 0px 0px 20px;
}
#time .row{
	margin-bottom: 10px;
}
#time .col-md-4{
	text-align: center;

}

footer{
	background: #000;
	padding: 20px 0px 10px 0px;
}
.redes-sociais ul li{
	display: inline-block;
	margin-right: 20px;
}
/* ======================= Classes Genericas ======================= */

/* ======================= Tipografia ======================= */
#menu-principal a{
	color: #FFF;
	text-transform: uppercase;
}
#menu-principal a:hover{
	background: none;
	color: #FFFF00;
}
